<section fxLayout="column" fxFlexAlign="stretch">
  <div fxFlexAlign="center">
    <h1 align="center">Education</h1>
    <p>I currently hold a Bachelor's Degree within Computer Science, where I undertook a scheme called Professional
      Pathway,
      which allowed to partake in three years' worth of placements whilst studying. I also have hand-on experience using
      a number of languages such
      as C++, C# and JavaScript, where I have contributed to both back-end and front-end development.
      I believe this makes me an ideal candidate as I have been exposed to the complete cycle of Software Development.
      I graduated with a Class II Upper Division from City University London.</p>
  </div>

  <p>Please see below my preivous experiences:</p>

  <mat-tab-group mat-stretch-tabs (selectedTabChange)="executeSelectedChange($event)">
    <mat-tab label="Grass Valley - Grad Software Enginner - Sep 2017 to Aug 2019">
      <div class="w3-content w3-container">
        <p>
          Grass Valley is a global leader in hardware and software solutions that make television happen. They focused
          on empowering customers to create, control and connect content wherever,
          however and whenever it is consumed.</p>
        <div>
          <img src="../../assets/GrassValley_Logo.png" class="right" width="450" height="250" />
          <ul>
            <li>Develop new features on products for both back-end and front work using C++ and JavaScript </li>
            <li>Created various API services to be called by our front-end using .NET</li>
            <li>Responsible for the design, implementation and test of robust solutions </li>
            <li>Test-driven development </li>
            <li>Using design patterns and object-oriented design skills</li>
            <li>Independent working and problem solving </li>
            <li>Worked closely within an Agile team to develop software products for the broadcast video industry</li>
            <li>Involved in the wider aspects of bringing products to market, including the interpretation of customer
              requirements, prototyping, design,
              implementation, testing, production support and occasionally assisting in-field technical support teams
            </li>
          </ul>
        </div>
      </div>

    </mat-tab>
    <mat-tab label="Integrella - Junior Developer and Consultant - Aug 2016 to Aug 2017">
      <div class="w3-content w3-container">
        <p>Integrella is a specialist IT services company with extensive experience across UK sectors.
          They are an API management specialists with a strong enterprise integration background.</p>
        <div>
          <img src="../../assets/Integrella_Logo.svg" class="right" width="450" height="250" />
          <ul>
            <li>Being professional, responsive and communicative when dealing with assigned customers </li>
            <li>Helping the client to understand if there is a business case </li>
            <li>Research, contribute to and adhere to best practices for SOA and BPM development </li>
            <li>Version control software and Peer review code </li>
            <li>Produce quality documentation </li>
            <li>Develop high-quality SOA and BPM solutions </li>
            <li>Worked directly with the CEO </li>
            <li>Provide overnight support when needed </li>
            <li>Give talks and training to customers on best practices </li>
          </ul>
        </div>
      </div>

    </mat-tab>
    <mat-tab label="Wanstor - Service Desk Analyst - Dec 2015 to Aug 2016">
      <div class="w3-content w3-container">
        <p>Wanstor deliver secure IT services 24x7x365. 
          They work with their customers to transform the role of IT within their 
          organisations so that it becomes a business enabler.</p>
        <div>
          <img src="../../assets/Wanstor_Logo.svg" class="right" width="450" height="250" />
          <ul>
            <li>Responding to client issues via phone and email, triaging reported issues and
              resolving or escalating these where necessary </li>
            <li>Management of Microsoft 365 user accounts </li>
            <li>Management of Active Directory, including user account creation and permission
              amendments where necessary </li>
            <li>Setup and configuration of Windows PCs and laptops </li>
            <li>Monitoring of customer infrastructure using Wanstor’s suite
              of monitoring tools </li>
            <li>Configuring and troubleshooting network connections in LAN, WAN and DSL
              environments </li>
            <li>Configuration of MS Outlook and Exchange email including setup of client devices
              including laptops, tablets, desktops and mobile telephones </li>
              <li>Monitoring and maintaining scheduled backups</li>
          </ul>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="City University, London - Support Officer - Oct 2014 to June 2015">
      <div class="w3-content w3-container">
        <p>The Professional Liaison Unit (PLU) operates within the School of Mathematics, Computer Science & Engineering. 
          The unit supports both students and employers through the process of undertaking or providing placements, internships and work-based learning.

          The PLU offers a variety of bespoke work-based learning programmes, all of which have been designed to accommodate varying requirements of students and employers.</p>
        <div>
          <img src="../../assets/City_Logo.png" class="right" width="550" height="370" />
          <ul>
            <li>I worked very closely with management, where we discuss projects to benefit the team.
              These range from creating specialist employment groups for students to creating research documentation to support the team. </li>
            <li>Liaising with employers to capture their requirements to promote opportunities </li>
            <li>Attending external and internal meetings and events to meet with clients </li>
            <li>Presenting to stakeholders about opportunities at the University </li>
            <li>Managing a recruitment database </li>
          </ul>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</section>