body,h1,h2,h3,h4,h5,h6 {
    font-family: "Lato", sans-serif;
    color: firebrick;
}
body, html, p{
  height: 100%;
  color: rgb(0, 0, 0);
  line-height: 1.8;
}

.right {
    display: block;
    float: right;
    margin-top: auto;
  }

  ul {
    list-style-position: inside;
    line-height: 2em;
}