<div class="topnav">
  <input (keyup)="searchTerm$.next($event.target.value)" placeholder="Search..">
</div>

<!-- <p *ngFor="let skill of skills"
id="losinfo">
  {{skill.skillName}} 
  <ngx-skill-bar barWidth="100" barHeight="100" full="true" percentage="{{skill.skillPercentage}}" numberOfBars="8" showFigures="true" bgColor="rgba(255, 255, 255, .5)" color="#FBC02D"></ngx-skill-bar>
  <span id='secondText'><br>{{skill.skillDescription}}</span>
</p> -->

<ul *ngIf="mResults">
  <p *ngFor="let skill of mResults | slice:0:200" id="losinfo">
    {{skill.skillName}}
    <ngx-skill-bar barWidth="100" barHeight="100" full="true" percentage="{{skill.skillPercentage}}" numberOfBars="8"
      showFigures="true" bgColor="rgba(255, 255, 255, .5)" color="#FBC02D"></ngx-skill-bar>
    <span id='secondText'><br>{{skill.skillDescription}}</span>
  </p>
</ul>

<button *ngIf="isShow" (click)="gotoTop()">👆</button>