<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey w3-content" style="max-width:1600px">

<!-- !PAGE CONTENT! -->
<div class="w3-main">
  
  <!-- First Photo Grid-->
  <div class="w3-row-padding" >
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="../../assets/android.gif" alt="Android" (click)="openDialog('android')" width="150" height="300" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Android Application - Food-Spot</b></p>
        <p>Created an Android application for my university dissertation</p>
      </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="../../assets/cloud.png" alt="Cloud" (click)="openDialog('cloud')" width="150" height="300" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Cloud Team</b></p>
        <p>Took part in creating a cloud based web application</p>
      </div>
    </div>
    <div class="w3-third w3-container">
      <img src="../../assets/visa.jpeg" alt="Visa" (click)="openDialog('beyond')" width="150" height="300" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Beyond Plastic: Exploring the Future of Payments</b></p>
        <p>Took part in a design jam with Visa</p>
      </div>
    </div>
  </div>
  
  <!-- Second Photo Grid-->
  <div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="../../assets/website.png" alt="Personal Website" (click)="openDialog('personal')" width="150" height="300" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Personal Profile</b></p>
        <p>Created this website using .NET and Angular</p>
      </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="../../assets/soon.jpeg" alt="Norway" width="150" height="300" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Coming soon</b></p>
        <p>Coming soon.....</p>
      </div>
    </div>
    <div class="w3-third w3-container">
      <img src="../../assets/soon.jpeg" alt="Norway" width="150" height="300" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Coming soon</b></p>
        <p>Coming soon.....</p>
      </div>
    </div>
  </div>

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}
</script>

</body>
</html>
