<h1 align="center" mat-dialog-title>Cloud Project: SCS</h1>
<div mat-dialog-content>
  <a><img src="../../assets/SCS.png" class="w3-round w3-image w3-hover-opacity-on" width="650" height="650"> </a>
  <p>In my last role, my team undertook a new project, which was to create a cloud-based web-application. This involved learning a number of new technologies, such as Kubernetes, Jenkins, Docker, TestRail, Consul, Vagrant and many more. My main area of focus was using Elasticsearch to handle the way we searched our data in these clusters. This resulted in creating a number of API services that were deployed into our cloud cluster for when we need to search, add and filter our data. These services also needed to be scalable, tested (unit and integration test) and documented. This meant all development went through a pipeline, which was the following; design, develop, unit test, integration test, deploy (developer environment), E2E test and finally deploy to our production Rundeck server, ready for customer deployment. I also took part in some of the front-end work that would call these API services, which was written in TypeScript</p>

</div>
