<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url('../../assets/mountains.gif');
}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url("../../assets/responsive.jpg");
  min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
  background-image: url("../../assets/responsive.jpg");
  min-height: 400px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 650px;
  }
}
</style>
<body>

<!-- First Parallax Image with Logo Text -->
<div class="bgimg-1 w3-display-container w3-hover-opacity-off" id="home"> <!-- w3-opacity-min" -->
  <div class="w3-display-middle" style="white-space:nowrap;">
    <span @fadeAnimation class="w3-center w3-padding-large w3-black w3-xlarge w3-wide">ABDUL <span class="w3-hide-small">LAMZINI</span>
    <button (click)="gotoAboutMe() ">About Me</button>
  </span>
  </div>
</div>


<!-- this animates when `someStateValue` changes -->


<!-- Container (About Section) -->
<div class="w3-content w3-container w3-padding-64" id="about">
  <h3 class="w3-center">ABOUT ME</h3>
  <p class="w3-center"><em>I love being challenged and solving problems</em></p>
  <p>An ambitious, self-motivated and resourceful individual seeking to continue gaining experience within Software Development.
     I have a keen eye for detail and have the capable skill set in order to capture user requirements. I am a passionate individual looking to progress my career as Software Engineer, 
     in which I have over two years commercial IT experience as a developer. I am currently on a working holiday visa from the UK and looking for sponsorship in order to stay.
      However, I am opened to contracting work as this will give me the opportunity to showcase my development knowledge.</p>
  <div class="w3-row">
    <div class="w3-col m6 w3-center w3-padding-large">
      <p><b><i class="fa fa-user w3-margin-right"></i>Prefered name: Abs</b></p><br>
     <a @fadeAnimation *ngIf="isValue"><img src="../../assets/ProfilePic.jpg" class="w3-round w3-image w3-hover-opacity-on" alt="Photo of Me" width="300" height="150"> </a>
    </div>

    <!-- Hide this text on small devices -->
    <div class="w3-col m6 w3-hide-small w3-padding-large">
      <p>I am continuously motivated to progressing my career within Software Development as I enjoy being challenged and solving problems. 
        I have learnt a number of new skills such as different languages and frameworks to use that will allow me to succeed within your organisation.</p>

        <p >I thoroughly enjoy working with others as I believe collaborating with the team is not only a great way to gain advice, but also an opportunity to share your own ideas. 
          From working with others, it has showed me that there is more than one way to solving a problem. 
          I now include this way of thinking as approaching a problem as I aim to think about two to three ways of solving a problem before diving into code.</p>
    </div>
  </div>
</div>

<!-- Modal for full size images on click-->
<div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
  <span class="w3-button w3-large w3-black w3-display-topright" title="Close Modal Image"><i class="fa fa-remove"></i></span>
  <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
    <img id="img01" class="w3-image">
    <p id="caption" class="w3-opacity w3-large"></p>
  </div>
</div>
 
<script>
// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}

// Change style of navbar on scroll
window.onscroll = function() {myFunction()};
function myFunction() {
    var navbar = document.getElementById("myNavbar");
    if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
        navbar.className = "w3-bar" + " w3-card" + " w3-animate-top" + " w3-white";
    } else {
        navbar.className = navbar.className.replace(" w3-card w3-animate-top w3-white", "");
    }
}

// Used to toggle the menu on small screens when clicking on the menu button
function toggleFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>

</body>
</html>
