<mat-nav-list>
  <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
      <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
  </a>
  <a mat-list-item routerLink="/experiences/experiences" (click)="onSidenavClose()">
      <mat-icon>assignment_ind</mat-icon> <span class="nav-caption">Experiences</span>  
  </a>
  <a mat-list-item routerLink="/projects/projects" (click)="onSidenavClose()">
      <mat-icon>account_balance</mat-icon><span class="nav-caption">Projects</span>
  </a>
  <a mat-list-item routerLink="/skills/skills" (click)="onSidenavClose()">
    <mat-icon>account_balance</mat-icon><span class="nav-caption">Skills</span>
</a>
</mat-nav-list>