<h1 mat-dialog-title>Android Project: Food-Spot</h1>
<div mat-dialog-content>
  <p>The main output of the project is a fully functional Android application that allows its users to find restaurants based on the environment. The app has two main functions, one being a smart search, where a user can search for the environment to find a place to dine at. For example, the user could search for “Roof Top” and results would show restaurants that provide the searched utilities. The second function is a template feature that allows for instant results. For example, the user could select “Anniversary” template and the results would show places that are most couple appropriate</p>
  <p>ADD IMAGES OF THE APP HERE</p>
</div>
<div mat-dialog-actions>
  <button mat-button onclick="window.open('http://google.com','_blank')">Gitlab</button>
</div>
