<!-- <mat-toolbar color="primary">
  <div fxHide.gt-xs>
      <button mat-icon-button (click)="onToggleSidenav()">
          <mat-icon>menu</mat-icon>
      </button>
  </div>
  <div class="w3-bar w3-black w3-card">
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <a routerLink="/home" class="w3-bar-item w3-button w3-padding-large">HOME</a>
    <a routerLink="/experiences/experiences" class="w3-bar-item w3-button w3-padding-large">Experiences</a>
    <a routerLink="/skills/skills" class="w3-bar-item w3-button w3-padding-large">Skills</a>
  </div>

</mat-toolbar> -->


<mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon (click)="onToggleSidenav()">menu</mat-icon>
      </button>
      <span class="menu-spacer"></span>
      <div>
        <a mat-button [routerLink]="'/home'"> Home </a>
        <a mat-button [routerLink]="'/experiences/experiences'"> Experiences </a>
        <a mat-button [routerLink]="'/skills/skills'"> Skills </a>
        <a mat-button [routerLink]="'/projects/projects'"> Projects </a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  