
.column {
    float: left;
    width: 50%;
    padding: 5px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .mat-button
{
    color: white;
    background-color: black;
    text-align: center;
    display: block;
    margin: 0 auto;
    text-align: center;
}