<h1 align="center" mat-dialog-title>Personal Website</h1>
<div mat-dialog-content>
  <p>Created personal portfolio website to showcase my skills and projects. The front-end of the application was built using the Angular JS framework alongside with TypeScript, HTML and CSS. Backend of the application was built with using .NET and this provided access to Elasticsearch. All of my skills were indexed into Elasticsearch and this meant the front-end application would make a request to my .NET service, which in turn would access data from Elasticsearch. This allowed me to make use of the powerful searching features of Elasticsearch, such as searching for an exact skill or providing search suggestion.</p>
</div>
<div class="row">
  <div class="column">
    <img src="../../assets/Skill1.png" alt="Snow" style="width:100%">
  </div>
  <div class="column">
    <img src="../../assets/Skill2.png" alt="Forest" style="width:100%">
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button onclick="window.open('https://gitlab.com/absc898/personprofileapp.git','_blank')">Gitlab</button>
</div>